/* Could align items in the center with flex */

/* ========================================Text====================================== */
:root {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-weight: bold;
  font-size: clamp(2.4rem, 1rem + 3vw, 4rem);
  padding-bottom: clamp(6rem, 1rem + 6vw, 10rem);
  margin-top: 12vh;
  text-align: center;
}

form > div:nth-child(4) {
  font-size: clamp(1.2rem, 0.6rem + 1vw, 1.6rem);
}

form div:first-child label,
form div:nth-child(2) label,
form div:nth-child(3) label {
  font-size: 1.4rem;
}

.flex-container h3 {
  font-weight: 500;
  color: #666666;
}

.login {
  font-size: clamp(1.2rem, 0.6rem + 1vw, 1.6rem);
}

/* ========================================Main section====================================== */

form > div:first-child,
form > div:nth-child(2),
form > div:nth-child(3) {
  position: relative;
  width: min(75%, 40rem);
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px #666666;
  border-radius: 6px;
}

form > div:first-child > :last-child,
form > div:nth-child(2) > :last-child,
form > div:nth-child(3) > :last-child {
  width: 85%;
  min-height: 35px;
  margin-left: 2%;
}
form div:first-child label,
form div:nth-child(2) label,
form div:nth-child(3) label {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #8f8f8f;
}
form div:nth-child(3) svg {
  position: absolute;
  top: 7px;
  right: 10px;
}
form div:nth-child(4) input {
  border: 1px solid black;
  height: 19px;
  width: 19px;
  margin-right: 10px;
}
form div:nth-child(4) {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: min(70%, 37.5rem);
  /* border: 1px solid red; */
}
form div:nth-child(4) a {
  color: #0047ff;
}

form button {
  display: block;
  margin: 25px auto;
  width: min(75%, 300px);
  height: 40px;
  background-color: #f9f366;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
}

.login {
  text-align: center;
}
.login a {
  cursor: pointer;
  color: #f9f366;
}
button {
  cursor: pointer;
}
/* ========================================Lower section====================================== */
.bridge {
  margin: 3rem 0 2rem 0;
  display: flex;
  align-items: center;
}
.bridge h2 {
  flex-grow: 1;
  text-align: center;
}
hr {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #868686;
}
.bridge div {
  width: 45%;
  display: flex;
}
.flex-container {
  position: relative;
  display: flex;
  margin: 45px auto;
  border: 1px solid #f9f366;
  width: min(70%, 260px);
  min-height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.flex-container h3 {
  text-align: center;
  padding: clamp(0.2rem, 0.2rem + 1vw, 1rem) 0;
}
.flex-container svg {
  position: absolute;
  left: 7%;
}

@media (min-height: 56em) {
  h1 {
    margin-top: 20vh;
  }
}

@media (max-width: 21em) {
  .flex-container > svg {
    display: none;
  }
}
