/* ===================================Text=================================== */
:root {
  font-size: 62.5%;
  --fs-h1: clamp(2.4rem, 1.95rem + 1.4286vw, 4rem);
  --fs-h2: clamp(2rem, 1.6rem + 0.8929vw, 3rem);
  --fs-h3: clamp(1.6rem, 1.48rem + 0.6vw, 2.2rem);
  --fs-h4: clamp(0.9rem, 0.76rem + 0.7vw, 1.6rem);
  --fs-h5: clamp(0.9rem, 0.92rem + 0.4vw, 1.4rem);
  --fs-h6: clamp(0.8rem, 0.72rem + 0.4vw, 1.2rem);
}
.light--mode {
  --color-background: #ffffff;
  --color-foreground: #ffffff;
  --color-primary: #f9f366;
  --color-secondary: #494636;
  --color-accent: #50b19a;
  --text-color-primary: #000000;
  --text-color-label: #7e7e7e;
  --text-color-secondary: #7e7e7e;
  --shadow-color: rgb(117, 117, 117);
  --cancel-button-color: #adada8;
}
.dark--mode {
  --color-background: #212121;
  --color-foreground: #272727;
  --color-primary: #f9f366;
  --color-secondary: #54524b;
  --color-accent: #50b19a;
  --text-color-primary: #ffffff;
  --text-color-secondary: #d2d2d2;
  --text-color-label: #ffffff;
  --shadow-color: #000000;
  --cancel-button-color: #efefe0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-background);
}
h1 {
  font-weight: bold;
  font-size: var(--fs-h3);
  color: var(--text-color-primary);
}
.calendar :last-child {
  font-weight: 700;
  font-size: var(--fs-h4);
}

h6 {
  font-size: 0.6rem;
  padding: 0.5rem 0 0.5rem 5%;
}
.table h2 {
  color: var(--text-color-primary);
}
.table h2 {
  line-height: 1.6rem;
  font-weight: 700;
  font-size: var(--fs-h5);
}
.task-container > h3 {
  font-weight: 500;
  text-wrap: wrap;
  line-height: 1.6rem;
  font-size: var(--fs-h5);
  display: inline-block;
}
.flexbox-task h3 > span {
  font-weight: 500;
  font-size: 1rem;
}
.flexbox-task h5 {
  font-size: 1rem;
  font-weight: 400;
}
.flexbox-task div > div h3 {
  font-size: var(--fs-h5);
  font-weight: 700;
}
.flexbox-task div > div h5 {
  font-size: 0.9rem;
}
footer li:first-child ~ li {
  font-size: clamp(1.2rem, 0.96rem + 0.5357vw, 2rem);
}
footer li:first-child {
  font-size: clamp(1.6rem, 1.36rem + 0.5357vw, 2.4rem);
  font-weight: 700;
}

/* ================================Nav================================ */
header > nav ul {
  display: flex;
  align-items: center;
  margin: 1.4rem 0;
  flex-wrap: wrap;
}
header > nav li:nth-child(2) label {
  display: flex;
}
li svg {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header > nav ul li:nth-child(1) {
  flex-grow: 1;
  margin-left: 1rem;
}
header > nav ul li:nth-child(2) {
  margin-right: 0.6rem;
}
header > nav ul li:nth-child(3) {
  margin: 0 1rem 0 0;
}
/* =============Button============== */
.toggle {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
}
.transition--a {
  transition: 0.6s ease-in-out;
}
.toggle__b {
  width: 4.5rem;
  height: 2.1rem;
  border-radius: 4rem;
  display: inline-block;
  border: 1px solid black;
  background-color: #f0f0f0;
}
.toggle__c {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: black;
  left: 0.22rem;
  top: 0.24rem;
}
/* =============Calendar============== */
.flexbox-container div > svg {
  display: none;
}
.dates h1 {
  margin: 5rem 0rem 3rem 0;
  text-align: center;
}
.calendar {
  min-height: 5.4rem;
  min-width: 5.4rem;
  background-color: var(--color-primary);
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(117, 117, 117);
  text-align: center;
  line-height: 1.4rem;
}

.calendar > :first-child {
  display: inline-block;
  margin-top: 1.2rem;
}

.calendar.four {
  min-height: 6.6rem;
  min-width: 6.6rem;
}
.calendar.four > :first-child {
  margin-top: 1.8rem;
}
.flexbox-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  overflow: hidden;
  justify-content: center;
  padding: 0.2rem 0 0.2rem 0;
}

/* Today's schedule */
.test {
  border: 4px solid var(--text-color-primary);
}
.grid--tables {
  width: 85%;
  margin: 5rem auto;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.table {
  background-color: var(--color-foreground);
  width: 30rem;
  margin: 4rem auto;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color);
  min-height: 40rem;
  height: max(fit-content, 40rem);
}
.flexbox-menu ul {
  display: flex;
  align-items: center;
  padding: 0.8rem 0 1rem 0;
  width: 96%;
  margin-left: 4%;
}
.flexbox-menu ul > :first-child {
  flex-grow: 1;
}
.flexbox-task > div h3 > span {
  display: inline-block;
}
/* Task divs */
/* .flexbox-task > div:not(.add-task, .extra-space) {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 0.6rem;
  width: 94%;
  height: 4.8rem;
  margin: 0 auto;
  margin-bottom: 1.2rem;
  flex-wrap: nowrap;
} */
.task-container {
  background-color: var(--color-secondary);
  position: relative;
  width: 94%;
  margin: 0 auto;
  min-height: 4.8rem;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.task-container > svg {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0.5rem;
}
.task-container > div > h3 {
  flex-grow: 2;
}
.flexbox-task div h5 {
  margin-right: 1.2rem;
}
.easy,
.normal,
.hard {
  text-align: center;
  margin-top: 0.2rem;
  padding: 0.1rem 0 0.1rem 0;
  width: 6.6rem;
  border-radius: 0.6rem;
}
.easy {
  background-color: #b9ff61;
  padding-left: 1rem;
  text-align: start;
}
.normal {
  background-color: #f9f366;
}
.hard {
  background-color: #ff4444;
  padding-left: 1rem;
  text-align: start;
}
.flexbox-task h3,
.flexbox-task h5 {
  color: white;
}
.flexbox-task h3 span {
  color: black;
}

.flexbox-task h3 {
  flex-grow: 1;
  margin-left: 3rem;
}
.flexbox-task h5 {
  margin-right: 0.5rem;
}

.flexbox-task > div > div {
  margin-top: 0.5rem;
}
.flexbox-task > div:nth-child(3) > h3 {
  margin-top: 0.5rem;
}

/* .flexbox-task > div:nth-child(3) {
  align-content: flex-start;
  height: 100%;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
} */

.flexbox-task > div:nth-child(3) > div {
  flex-basis: 100%;
  padding-bottom: 2rem;
}

.flexbox-task > div:nth-child(3) > div div:first-child {
  margin: 0 0 0 8%;
}
.flexbox-task > div:nth-child(3) > div div {
  display: flex;
  width: 92%;
  margin-left: 8%;
  height: 3rem;
  align-items: center;
}
.add-task {
  border: 1px dashed var(--text-color-primary);
  border-radius: 0.6rem;
  width: 94%;
  height: 4.8rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.add-task > svg {
  align-self: center;
}
.extra-space {
  height: 2.4rem;
  margin: 0;
}
/* ===================================Modal=================================== */
form input {
  color: var(--text-color-primary);
}
form textarea {
  color: var(--text-color-primary);
}
.modal h4 {
  color: var(--text-color-primary);
}
.modal label {
  color: var(--text-color-label);
}
.flexbox-fields input,
.flexbox-fields select {
  color: var(--text-color-primary);
}
.flexbox-fields option {
  color: #000000;
}
.hidden {
  display: none;
}
.close-modal {
  font-size: 4rem;
  line-height: 2.2rem;
  color: var(--color-primary);
  cursor: pointer;
}
.flexbox-modal {
  display: flex;
  width: 95%;
  margin: 1.5rem auto 0 auto;
  align-items: flex-start;
}
.modal h4 {
  align-self: center;
  font-size: var(--fs-h6);
  font-weight: 700;
}
.flexbox-modal > :first-child {
  flex-grow: 1;
}
.modal {
  position: fixed;
  box-shadow: 0.2rem 0.2rem 0.4rem var(--shadow-color);
  width: clamp(50rem, 50vw, 75rem);
  height: fit-content;
  background-color: var(--color-background);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 2;
}
form {
  width: 80%;
  margin: 6rem auto 0 auto;
}
form > div:not(.flexbox-fields, .button-container) {
  margin-top: 3rem;
  position: relative;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color);
  border-radius: 6px;
  width: 50%;
}

form > div:not(.flexbox-fields, .button-container) > :last-child {
  min-height: 3.5rem;
  margin-left: 2%;
  width: 96%;
}
form > div:nth-child(3) > :last-child {
  min-height: 24rem;
  margin-top: 0.7rem;
}
form > div:first-child {
  width: 60%;
}
.flexbox-fields > div {
  margin-top: 1rem;
  position: relative;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color);
  border-radius: 6px;
  width: 50%;
  display: flex;
  align-items: center;
}
#difficulty {
  display: flex;
  align-items: center;
  text-align: center;
}
#time {
  text-align: center;
}

.flexbox-fields > div > :last-child {
  min-height: 3.5rem;
  margin-left: 2%;
  width: 85%;
}
form > div:nth-child(3) {
  width: 100%;
}
form > div:first-child > label {
  top: 50%;
  translate: 0 -50%;
}
form > div > label {
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
  color: #8f8f8f;
}
.flexbox-fields > div > label {
  opacity: 0%;
  position: absolute;
  top: -3rem;
  text-align: center;
  left: 50%;
  translate: -50%;
  /* position: absolute;
  top: 7px;
  left: 8px;
  color: #8f8f8f; */
}
.flexbox-fields {
  width: 60%;
  margin-top: 3rem;
  display: flex;
  column-gap: 1rem;
}
form button {
  font-size: var(--fs-h6);
  font-weight: 700;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.7rem 0;
  min-width: 10rem;
  cursor: pointer;
  /* margin-bottom: 10rem; */
}
form .button-container > :first-child {
  background-color: var(--cancel-button-color);
}
form .button-container > :last-child {
  background-color: var(--color-primary);
}
.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 5rem;
}
#first-add {
  cursor: pointer;
}
#second-add {
  cursor: pointer;
}
#third-add {
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(85%) sepia(81%) saturate(392%) hue-rotate(338deg)
    brightness(106%) contrast(95%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-color-primary);
}
#description {
  overflow-wrap: break-word;
  resize: none;
}
/* ===================================Sidebar=================================== */
.sidebar {
  box-shadow: 0.1rem 0.1rem 0.7rem rgb(129, 129, 129);
  position: absolute;
  left: 0;
  top: 0;
  width: max(20%, 25rem);
  background-color: var(--color-background);
  height: 100%;
}
.sidebar--active {
  transition: 0.8s ease-in-out;
  transform: translate(-110%);
}
.grid__wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr;
}
.grid__wrapper > div:first-child {
  align-self: self-start;
  height: 6.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.grid__wrapper > div:first-child svg {
  margin-left: 1rem;
  align-self: center;
}
.grid__wrapper > div:first-child span {
  align-self: center;
}
.grid__wrapper span {
  font-size: var(--fs-h4);
  font-weight: 700;
}
.grid__wrapper div:first-child ~ div li a {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  justify-items: center;
  align-items: center;
  margin: 1rem auto;
}
.grid__wrapper > div:nth-child(2) {
  align-self: self-start;
}
.grid__wrapper > div:nth-child(3) {
  align-self: center;
}
.grid__wrapper div:first-child ~ div li a span {
  justify-self: flex-start;
}

.overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 50%;
  z-index: 1;
}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
}
.menu__item {
  transition: 0.4s;
}
.menu__item svg {
  transition: 0.4s;
}
path {
  fill: "white";
}
.menu__fill {
  transition: 0.4s;
  fill: black;
}
.menu__stroke {
  transition: 0.4s;
  stroke: black;
}
main nav {
  z-index: 2;
}
.menu--active {
  border-left: 0.4rem solid #f9f366;
  padding-left: 1.5rem;
}
/* ===================================Footer=================================== */
footer {
  background-color: var(--color-secondary);
  color: white;
}
footer li:first-child ~ li {
  margin-top: 1rem;
}
.flexbox-footer {
  display: flex;
  padding: 3rem 0 5rem 0;
  justify-content: space-around;
  margin: 10rem auto 0 auto;
}
footer hr {
  border: none;
  width: 90%;
  height: 1px;
  background-color: #ffffff;
  margin: 0 auto;
}
footer h6 {
  padding: 0.5rem 0 1rem 5%;
}
.flexbox-footer > div {
  width: 25%;
  display: flex;
  justify-content: center;
}
/* ===================================Media queries=================================== */
@media (min-width: 26em) {
  .flexbox-footer {
    width: 70%;
  }
}
/* @media screen and (max-width: 350px) {
  .calendar.four {
    min-height: 62px;
    min-width: 62px;
  }
  .calendar {
    min-height: 50px;
    min-width: 50px;
  }
  .calendar.four :first-child,
  .calendar.four :last-child {
    font-size: 0.9rem;
  }
  .calendar.four :first-child {
    margin-top: 16px;
  }
  .calendar > :first-child {
    margin-top: 10px;
  }
  .calendar :first-child,
  .calendar :last-child {
    font-size: 0.8rem;
  }
  .table h2,
  .flexbox-task div h3 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .calendar.four {
    min-height: 58px;
    min-width: 58px;
  }
  .calendar {
    min-height: 46px;
    min-width: 46px;
  }
  .calendar.four :first-child,
  .calendar.four :last-child {
    font-size: 0.8rem;
  }
  .calendar.four :first-child {
    margin-top: 14px;
  }
  .calendar > :first-child {
    margin-top: 8px;
  }
  .calendar :first-child,
  .calendar :last-child {
    font-size: 0.7rem;
  }
  .table h2,
  .flexbox-task div h3 {
    font-size: 0.8rem;
  }
}

@media (min-width: 568px) {
  .flexbox-container div > svg {
    display: initial;
    width: 80%;
    height: 80%;
  }
  .calendar.four {
    min-height: 70px;
    min-width: 70px;
  }
  .calendar {
    min-height: 58px;
    min-width: 58px;
  }
  .calendar.four :first-child,
  .calendar.four :last-child {
    font-size: 1.05rem;
  }
  .calendar.four :first-child {
    margin-top: 20px;
  }
  .calendar > :first-child {
    margin-top: 14px;
  }
  .calendar :first-child,
  .calendar :last-child {
    font-size: 1.05rem;
  }

  .flexbox-footer {
    gap: 40px;
  }
  nav ul > :first-child svg {
    width: 32px;
    height: 32px;
  }
  nav ul > :nth-child(2) svg {
    width: 38px;
    height: 18px;
  }
  nav ul > :last-child svg {
    width: 70px;
    height: 23px;
  }
}
@media (min-width: 768px) {
  .flexbox-footer {
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .dates > h1 {
    font-size: 1.1rem;
  }

  .flexbox-footer {
    gap: 80px;
  }
  nav ul > :first-child svg {
    width: 35px;
    height: 35px;
  }
  nav ul > :nth-child(2) svg {
    width: 42px;
    height: 20px;
  }
  nav ul > :last-child svg {
    width: 77px;
    height: 25px;
  }

  .flexbox-container div > svg {
    display: initial;
    width: 90%;
    height: 90%;
  }
  .calendar.four {
    min-height: 77px;
    min-width: 77px;
  }
  .calendar {
    min-height: 64px;
    min-width: 64px;
  }
  .calendar.four :first-child,
  .calendar.four :last-child {
    font-size: 1.1rem;
  }
  .calendar.four :first-child {
    margin-top: 22px;
  }
  .calendar > :first-child {
    margin-top: 16px;
  }
  .calendar :first-child,
  .calendar :last-child {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .flexbox-footer {
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .flexbox-footer {
    gap: 80px;
  }
  nav ul > :first-child svg {
    width: 35px;
    height: 35px;
  }
  nav ul > :nth-child(2) svg {
    width: 42px;
    height: 20px;
  }
  nav ul > :last-child svg {
    width: 77px;
    height: 25px;
  }

  .flexbox-container div > svg {
    display: initial;
    width: 90%;
    height: 90%;
  }
  .calendar.four {
    min-height: 77px;
    min-width: 77px;
  }
  .calendar {
    min-height: 64px;
    min-width: 64px;
  }
  .calendar.four :first-child,
  .calendar.four :last-child {
    font-size: 1.1rem;
  }
  .calendar.four :first-child {
    margin-top: 22px;
  }
  .calendar > :first-child {
    margin-top: 16px;
  }
  .calendar :first-child,
  .calendar :last-child {
    font-size: 1.1rem;
  }
}
@media (min-width: 1300px) {
  .flexbox-footer {
    gap: 100px;
  }
  nav ul > :first-child svg {
    width: 38px;
    height: 38px;
  }
  nav ul > :nth-child(2) svg {
    width: 47px;
    height: 24px;
  }
  nav ul > :last-child svg {
    width: 84px;
    height: 27px;
  }

  .flexbox-container div > svg {
    display: initial;
    width: 100%;
    height: 100%;
  }
  .calendar.four {
    min-height: 84px;
    min-width: 84px;
  }
  .calendar {
    min-height: 70px;
    min-width: 70px;
  }
  .calendar.four :first-child,
  .calendar.four :last-child {
    font-size: 1.2rem;
  }
  .calendar.four :first-child {
    margin-top: 24px;
  }
  .calendar > :first-child {
    margin-top: 18px;
  }
  .calendar :first-child,
  .calendar :last-child {
    font-size: 1.2rem;
  }
  .dates > h1 {
    font-size: 1.2rem;
  }
  .table {
    min-width: 320px;
  }
  .flexbox-task > div:first-child h3 > span {
    margin-top: 4px;
  }
  .flexbox-task > div:nth-child(2) h3 > span {
    margin-top: 4px;
  }
  .flexbox-task > div:nth-child(3) h3 > span {
    margin-top: 4px;
  }
  .flexbox-task > div:first-child,
  .flexbox-task > div:nth-child(2) {
    height: 54px;
  }
  .flexbox-task > div:nth-child(3) {
    padding: 6px 0 6px 0;
  }
  .table h2,
  .flexbox-task div h3 {
    font-size: 0.95rem;
  }
  .flexbox-task h3 > span {
    font-size: 0.8rem;
  }
  .flexbox-task h5 {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  .flexbox-task div > div h3 {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .flexbox-task div > div h5 {
    font-size: 0.7rem;
  }
  .flexbox-task > div:not(.add-task, .extra-space) {
    margin-bottom: 14px;
  }
} */
